@model IEnumerable<DataLayer.ContactForm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_DefaultAdmin.cshtml";
    int c = 1;
}

<div style="height:75px"></div>
<div class="container bg-white p-2" dir="rtl">

    <h2 class="text-center p-2 border shadow ">لیست سوالات یا پیام ها</h2>

    <p>
        @Html.ActionLink("ایجاد سوال جدید", "Create")
    </p>
    <table class="table">
        <tr>
            <th>ردیف</th>
            <th>
                نام کامل
            </th>
            <th>
                تاریخ
            </th>
            <th>
                موضوع
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@c</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    <a class="btn btn-outline-info btn-xs mb-1"
                       data-toggle="tooltip" data-placement="top" title="جزئیات"
                       href="/admin/message/Details/@item.Id">
                        <i class="now-ui-icons travel_info"></i>
                    </a>
                    <a class="btn btn-outline-warning btn-xs mb-1"
                       data-toggle="tooltip" data-placement="top" title="ویرایش"
                       href="/admin/message/Edit/@item.Id">
                        <i class="now-ui-icons ui-2_settings-90"></i>
                    </a>
                    <a class="btn btn-outline-danger btn-xs mb-1"
                       data-toggle="tooltip" data-placement="top" title="حذف"
                       href="/admin/message/Delete/@item.Id">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </a>
                </td>
            </tr>
            c++;
        }

    </table>

</div>