@model DataLayer.Brands

@{
    ViewBag.Title = "Brands";
    Layout = "~/Areas/Admin/Views/Shared/_DefaultAdmin.cshtml";
}

<div style="height:75px"></div>
<div class="container bg-white p-2" dir="rtl">

    <h2 class="text-center p-2 border shadow ">افزودن محصول جدید</h2>
    <div class="row d-flex">
        <div class="col-6">
            <div class="search-brands">
                <input id="searchBrands" oninput="searchBrand(this.value)" />
            </div>
            <table class="table-bordered">
                <tbody>
                    <tr>
                        <th>برند</th>
                        <th>عکس</th>
                        <th>حذف</th>
                    </tr>
                    @{List<DataLayer.Brands> list = ViewBag.Brands;}
                    @foreach (var item in list)
                    {
                        <tr class="brand-item" data-brand-name="@item.BrandTitle">
                            <td>@item.BrandTitle</td>
                            <td><img src="/Images/ProductImages/Thumb/@item.BrandImageName" /></td>
                            <td><a href="/admin/Products/DeleteBrand/@item.BrandID"><i class="fa fa-2x fa-times" style="color: red"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            @using (Html.BeginForm("CreateBrands", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Brands</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        @Html.LabelFor(model => model.BrandTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BrandTitle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BrandTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BrandImageName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="imgUp" id="imgUp" />
                            @Html.ValidationMessageFor(model => model.BrandImageName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>