@model DataLayer.Comments

@*<form action="" method="post" onsubmit="submitComment(event,@Model.ProductID)">*@
@using (Ajax.BeginForm("CreateComment", "Product", new AjaxOptions
{
    OnBegin="beginCreateComment",
    UpdateTargetId = "listComment",
    OnSuccess = "endCreateComment"
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ProductID)
    @Html.HiddenFor(m => m.ParentID)

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "نام خود را وارد کنید" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="col-md-7">
            @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", placeholder = "متن نظر خود را وارد کنید" })
            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            <input class="btn btn-outline-success" value="ثبت دیدگاه ارزشمند شما" type="submit">
        </div>
        <div class="clearfix"></div>
    </div>
    @*</form>*@

}